#include "split36.dtsi"
#include <dt-bindings/zmk/input_transform.h>

&kscan0 {
    col-gpios
        = <&pro_micro 8 GPIO_ACTIVE_HIGH>
        , <&pro_micro 7 GPIO_ACTIVE_HIGH>
        , <&pro_micro 6 GPIO_ACTIVE_HIGH>
        , <&pro_micro 5 GPIO_ACTIVE_HIGH>
        , <&pro_micro 4 GPIO_ACTIVE_HIGH>
        ;
};

/ {
        trackball_listener {
                compatible = "zmk,input-listener";
                device = <&trackball_split>;

                input-processors =
                        <&zip_xy_transform INPUT_TRANSFORM_XY_SWAP>,
                        <&zip_xy_scaler 1 2>;

                scroller {
                        layers = <7>;
                        input-processors =
                                <&zip_xy_to_scroll_mapper>,
                                <&zip_scroll_scaler 1 2>,
                                <&zip_scroll_transform (INPUT_TRANSFORM_XY_SWAP | INPUT_TRANSFORM_Y_INVERT)>;
                };
        };
};
